* {
    /* font-family: 'Amatic SC', cursive !important; */
    font-family: 'Kalam', cursive !important;
  }

.centered {
    margin-right: 22%;
    margin-left: 22%;
}

.navbar>.container-fluid {
    flex-wrap: nowrap;
}

.navbar-header {
    display: flex;
    flex: 10;
}
.modal-header {
    background-color: #F3F3F3;
    font-weight: bold;
}
.modal-title {
    font-size: 25px;
}
.modal-header .close {
    font-family: monospace !important;
    padding: 7px;
    font-size: 25px;
    font-weight: bold;
    width:44px;
    height:44px;

}
.modal-header .close:hover {
    color: #FFC926;
}
label {
    font-size: 20px;
    font-weight: bold;
}
.form-control {
    font-size: 18px !important;
    border: 1px solid #F3F3F3;
    /* color: #F3F3F3; */
}
button.close:focus {
    border: none;
}
.close {
    opacity: 1 !important;
}

.email_headers {
    height: 400px !important;
}

.email_body a{
    color: blue;
}

.email_header {
    padding-top:5px;
    cursor: pointer;
}

.email_unread {
    font-weight: bold;
}

.email_table {
    width: 100%;
    table-layout: fixed;
}

.right_column {
    padding-right: 10px;
    background: white;
    color: #1C1C1C;
    border: 1px solid #2c3e50;
    text-align: left;
    width: 65%;
    max-width: 65%;
    word-wrap:break-word;
}

.left_column {
    overflow-y: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 20px;
}

.compose_form {
    padding: 10px;
    width: 100%;
}

body {
    font-size: 20px;
    font-weight: 300;
    line-height: 19px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    margin-top: 0;
    margin-bottom: 0;

}
#tab_headers{
    background: #FFC926;
    height:60px;
}

.dish {
    border-radius: 0px !important;
    margin: 10px 0px;
    background-color: #1C1C1C !important;
    border: none;
    padding:"10px";
}
.dish>h3{
    font-size: 22px;
    color: white;
    margin-top: 0;
    /* padding: 6px 4px; */
    font-weight: bold;
}
.dish>h3 + div{
    display: inline-block;
}
.dish button {
    float: right;
}

.dish img {
    max-width: 130px;
    max-height: 110px;
}

.img-wrap{
    /* background-color: #ffffff; */
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border-color: #1C1C1C;
    margin-left: 5px;
    width: 135px;
    text-align: center;
    float: left;
}


.nav-tabs {
    border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #FFC926;
    background-color: #1C1C1C;
    border: none;
    margin-left: 0px;
    margin-bottom: 1px;
}
.nav-tabs>li>a {
    line-height: 1.428571429;
    height:60px;
    font-size: 27px;
    color:#1C1C1C;
    margin: 0px;
    border-radius: 0px !important;
}
.nav-tabs>li>a:hover {
    background-color: #FFC926;
    border: none;
}
a {
    color: white;
    background: transparent;
}

.side-image{
    position: absolute;
    width: 13%;
    margin-left: 1%;
    margin-top:50px;
}

.side-image-right{
    position: absolute;
    width: 13%;
    right:0px;
    margin-right: 1%;
}
.header-image{
    padding: 7px;
    width: 200px;
    height: 150px;
    margin-top: 5px;
    position: absolute;
    margin-left: 15px !important;
    border-radius: 20px;
}   
.navbar-main {
    height:60px;
    margin-bottom: 60px;
    background-color: #FFC926;
    background:#FFC926;
}
.buyNowButton {
    background-color: #FFC926;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.buyNowButton:hover {
    color:white;
}
.dish_li {
    height:40px;
}
.navbar-collapse {
    padding-left:150px !important;
}
.mainButton {
    background-color: #1C1C1C;
    color:#FFC926;
    font-size:20px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
}
.buttonRegister {
    font-size:20px;
    background-color: transparent;
    text-decoration: underline;
    border: none;
}

.navbar {
    border-radius: 0px !important;
}
.navbar-right {
    margin-right: 50px !important;
}
.navbar-nav>li {
    background-color: #FFC926;
    height:60px;
    margin-top:-1px;
    color:#1C1C1C;
}
.navbar-nav>li:hover {
    background-color: #FFC926;
}
.navbar-nav>li>a:hover {
    /* background-color: #FFC926; */
}
.navbar-nav>li>a {
    color:#1C1C1C;
    font-size: 22px;
    line-height: 30px;
}
.formBoldHeader {

}
.form-group-register {
    width:45%;
    float: left;
    display: block;
}

.productData {
    float: left;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}
.product_name {
    font-size: 22px;
    margin-bottom:10px;
}
.product_price {
    font-size: 40px;
    margin-top: -10px;
}
.small_cash{
    font-size: 18px;
}
.checkbox {
    font-size: 18px !important;
    margin-bottom: 20px;
}
.notBold {
    font-size: 18px;
    font-weight: 300;
}
.change-dialog-button {
    display: inline-block;
    font-size: 18px;
}
.modal-dialog {
    width:500px;
}
.checkbox label{
    font-size: 16px !important;
}