<div>
    <input hidden ng-attr-id="pizza_had_your_special" id="order_had_special">
    <div class="list-group-item dish" ng-repeat="pizzaDetails in special.specials">
        <h3>{[pizzaDetails.food_name]} <em class="pull-right">{[pizzaDetails.price_in_dollars | currency]}</em></h3>
        <div ng-show="pizzaDetails.image_url">
            <div class="img-wrap">
                <img ng-src="{[ pizzaDetails.image_url ]}" />
            </div>
        </div>


        <button class="btn buyNowButton" ng-click="special.orderSpecialById(pizzaDetails.id)">Buy Now</button>
        <!-- <button class="btn buyNowButton" ng-click="side.orderSideById(sideDetails.id)">Buy Now</button> -->

    </div>
</div>